useDynLib("tigre", "_ClnDiffErfs")

importClassesFrom(Biobase, AnnotatedDataFrame, AssayData, eSet, ExpressionSet,
                  MIAME, Versioned, VersionedBiobase, Versions)

importClassesFrom(methods, character, list, matrix, numeric)

importMethodsFrom(AnnotationDbi, as.list, colnames, exists, get, ncol,
                  revmap, tail)

importMethodsFrom(Biobase, annotation, experimentData, exprs,
                 featureData, featureNames, phenoData, updateObject)

importMethodsFrom(DBI, dbCommit, dbConnect, dbDisconnect, dbDriver,
                  dbGetQuery, dbListTables)

importMethodsFrom(methods, initialize, show)

importMethodsFrom(puma, prcfifty, prcfive, prcninfive, prcsevfive,
                 prctwfive)

importMethodsFrom(RSQLite, dbBeginTransaction, dbGetPreparedQuery)

importFrom(annotate, getAnnMap)

importFrom(Biobase, assayDataElement, assayDataElementNames,
          assayDataElementReplace, assayDataNew, contents)

importFrom(gplots, plotCI)

importFrom(graphics, layout, lines, par, plot, title)

importFrom(methods, "@<-", callNextMethod, new)

importFrom(RSQLite, SQLite)

importFrom(stats, optim, optimize, qgamma, qnorm, rnorm, sd)

importFrom(utils, sessionInfo, write.table)

##export everything that does not start with a . or an _
exportPattern("^[^\\._]")
