useDynLib("tigre", "_ClnDiffErfs")

importClassesFrom(Biobase, AnnotatedDataFrame, AssayData, eSet, ExpressionSet,
                  MIAME, Versioned, VersionedBiobase, Versions)

importClassesFrom(methods, character, list, matrix, numeric)

importMethodsFrom(AnnotationDbi, colnames, exists, get, ncol, tail)

importMethodsFrom(Biobase, annotation, experimentData, exprs,
                 featureData, featureNames, phenoData)

importMethodsFrom(methods, initialize, show)

importMethodsFrom(puma, prcfifty, prcfive, prcninfive, prcsevfive,
                 prctwfive)

importFrom(Biobase, assayDataElement, assayDataElementNames,
          assayDataElementReplace, assayDataNew, contents)

importFrom(gplots, plotCI)

importFrom(graphics, layout, lines, par, plot, title)

importFrom(methods, "@<-", callNextMethod, new)

importFrom(stats, optim, optimize, qgamma, qnorm, rnorm, sd)

importFrom(utils, write.table)

##export everything that does not start with a . or an _
exportPattern("^[^\\._]")
